.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
}
body{
 background-image: url('./large.jpg');
 height: 100%;
 width: 100%;

}
 .activeCard {
  color: rgb(226, 94, 116);
  background: rgb(68, 228, 214);
 }
 
 